* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333
}
h1 {
	text-align: center;
	margin-top: 100px;
}

h2 {
	text-align: center;
}
p {
	text-align: center;
}
button{
	width: 200px;
	height: 50;
	background-color: #333;
	border: solid 3px;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	padding: 10px;
}