* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}

section {
	display: flex;
	height: 600px;
	background-color: #678;
	// align-items: stretch;
	// align-items: flex-start;
	// align-items: flex-end;

	// align-items: baseline;

	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.square {
	width: 20%;
	height: 200px;
	// line-height: 200px;
	text-align: center;
}

.one {
	background-color: gold;
	// font-size: 100px;
}
.two {
	background-color: lime;
}
.three {
	background-color: royalblue;
}
.four {
	background-color: tomato;
}
