$colors: (
	left: lime,
	middle: gold,
	right: tomato,
);
$dark-colors: (
	left: rgb(3, 155, 3),
	middle: rgb(109, 93, 0),
	right: rgb(119, 46, 34),
);

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background-color: #333;
	font-family: sans-serif;
}

.square {
	margin: 20px;
	width: 200px;
	height: 200px;
	border: 5px solid black;
}

.iteam1 {
	background-color: map-get($dark-colors, left);
}
.iteam2 {
	background-color: map-get($dark-colors, middle);
}
.iteam3 {
	background-color: map-get($dark-colors, right);
}
